body{
background-color:#0f0e17 ;
color: #fffffe ;
font-family: 'Roboto', sans-serif;

 }
  
  .container{
   width: 800px;
   margin: auto;
   text-align: center;
  
  
  }
  
  header  img{
    
    width:100px;  
    height: 100px;
   margin-bottom: 30px;
  }
  
  
  
  nav ul {
    display: flex;
    justify-content:space-evenly;
   list-style-type: none;
   margin: 40px;
}
  
 
  
  nav li a {
    color:#fffffe ;
    text-decoration: none;
  }
  
  section{
    background-color: #fffffe;
    border-radius:5px ;
    padding-bottom: 10px;
   
  }
  
  h2{
  color:#ff8906 ;
  padding-top: 10px;
  }
  
  p{
    color: #0f0e17;
    border-radius: 100px;
    margin: 40px;
    margin-bottom: 20px;
  }
  
  footer{
    padding:100px;
    color:#e53170 ;
    font-size: larger;
  }